@import url('https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins",sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #2f363e;
}
#timer{
  display:flex;
  gap: 30px;
}

#timer .circle{
  position: relative;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#timer .circle svg{
  position: relative;
  height: 150px;
  width: 150px;
  transform: rotate(270deg);
}
#timer .circle svg circle{
  height: 100%;
  width: 100%;
  fill: transparent;
  stroke-linecap: round;
  stroke-width:8 ;
  stroke: #282828;
  transform: translate(5px,5px);
}
#timer .circle svg circle:nth-child(2){
  stroke:var(--clr);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}
#timer div{
  position: absolute;
  font-size: 500;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
}
#timer div span{
  position: absolute;
  transform: translateX(-50%) translateY(1px);
  font-size: 0.30em;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
#timer .dots{
  position: absolute;
  height:100%;
  width: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
}
#timer .dots::before{
content: '';
position:absolute;
top: -3px;
background:var(--clr);
height: 15px;
width: 15px;
border-radius: 50%;
box-shadow:0 0 20px var(--clr),
0 0 60px var(--clr);
}
.newYear{
  font-size: 8em;
  font-weight: 500;
  color: #fff;
  line-height:0.6em ;
  text-align: center;
  display: none;
}
.newYear span{
  font-size:0.5em;
  font-weight:300;
}